

  
  <div id="MonthlyBilling" class="tabcontent">
    <h3 class="sizeup">Monthly Statement</h3>

    <select id="styleselect">
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
    </select>

    <button class="stylebutton">View</button>
    <button class="stylebutton">Download</button>

    <h3>Your Transactions for this Month</h3>
    <table id="billing">
        <tr>
            <th>TRANSACTION ID</th>
            <th>AMOUNT</th>
            <th>DESCRIPTION</th>
            <th>DATE</th>
            <th>RECEIPT</th>
        </tr>
        <tr>
            <td>Account Recharge</td>
            <td>99.00(CR)</td>
            <td>EVD Third Party Top up -Tata Sky Transaction Id:TP1808211231058889,Receipt Number:907737598</td>
            <td>21 July 2018</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Account Recharge</td>
            <td>99.00(CR)</td>
            <td>EVD Third Party Top up -Tata Sky Transaction Id:TP1808211231058889,Receipt Number:907737598</td>
            <td>21 July 2018</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Account Recharge</td>
            <td>99.00(CR)</td>
            <td>EVD Third Party Top up -Tata Sky Transaction Id:TP1808211231058889,Receipt Number:907737598</td>
            <td>21 July 2018</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Account Recharge</td>
            <td>99.00(CR)</td>
            <td>EVD Third Party Top up -Tata Sky Transaction Id:TP1808211231058889,Receipt Number:907737598</td>
            <td>21 July 2018</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Account Recharge</td>
            <td>99.00(CR)</td>
            <td>EVD Third Party Top up -Tata Sky Transaction Id:TP1808211231058889,Receipt Number:907737598</td>
            <td>21 July 2018</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Account Recharge</td>
            <td>99.00(CR)</td>
            <td>EVD Third Party Top up -Tata Sky Transaction Id:TP1808211231058889,Receipt Number:907737598</td>
            <td>21 July 2018</td>
            <td>NA</td>
        </tr>
    </table>
</div>

