
    <div id="ActivePlans" class="tabcontent">
      <h3 class="sizeup">Active Plans</h3>
      
          <div class="card">
              <div class="headerr">
                  <h1>Subscriber<br> ID</h1>
              </div>

              <div class="containerr">
                  <p>94394893</p>
              </div>
          </div>
          <div class="card">
              <div class="headerr">
                  <h1>Account <br>Balance</h1>
              </div>

              <div class="containerr">
                  <p>Rs.122.90</p>
              </div>
          </div>
          <div class="card">
              <div class="headerr">
                  <h1>Account <br>Status</h1>
              </div>

              <div class="containerr">
                  <p>Active</p>
              </div>
          </div>
          <div class="card">
              <div class="headerr">
                  <h1>Due Date</h1>
              </div>

              <div class="containerr">
                  <p>31 Aug 2018</p>
              </div>
          </div>
      
  </div>

