<div id="MyProfile" class="tabcontent">
    <div id="maincontent">
        <h3 class="sizeup">Personal and Contact Details</h3>

        <span>PRIMARY CONTACT DETAILS
            </span>
        <br>
        <table id="customers" >
            <tr>
                <th>Title:</th>
                <td>{{myaccountinfo.title}}</td>
            </tr>
            <tr>
                <th>FirstName:</th>
                <td>{{myaccountinfo.firstname}}</td>
            </tr>
            <tr>
                <th>MiddleName:</th>
                <td>{{myaccountinfo.middlename}}</td>
            </tr>
            <tr>
                <th>LastName:</th>
                <td>{{myaccountinfo.lastname}}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{{myaccountinfo.gender}}</td>
            </tr>
            <tr>
                <th>Registered Mobile Number(RMN):</th>
                <td>{{myaccountinfo.rmn}}</td>
            </tr>
            <tr>
                <th>Contact:</th>
                <td>{{myaccountinfo.contact}}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{myaccountinfo.email}}</td>
            </tr>
        </table>
        <br><br>
        <span>ADDRESS DETAILS
            </span>
        <br>
        <table id="customers" >
            <tr>
                <th>Address:</th>
                <td>{{myaccountinfo.address}}</td>
            </tr>
            <tr>
                <th>Landmark:</th>
                <td>{{myaccountinfo.landmark}}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{myaccountinfo.location}}</td>
            </tr>
            <tr>
                <th>Building Name:</th>
                <td>{{myaccountinfo.building}}</td>
            </tr>
            <tr>
                <th>District:</th>
                <td>{{myaccountinfo.district}}</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>{{myaccountinfo.city}}</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>{{myaccountinfo.state}}</td>
            </tr>
            
            <tr>
                <th>Country:</th>
                <td>{{myaccountinfo.country}}</td>
            </tr>
            <tr>
                <th>Postal Code:</th>
                <td>{{myaccountinfo.pincode}}</td>
            </tr>
        </table>
    </div>
</div>